@import './escalaModular/scale.css';
@import './paletaColores/paleta.css';
@import './primitives/primitivas.css';

html, body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}
